.header {
  display: flex;
 flex-direction: row;
 justify-content:space-between; 
}

.headerContainer {
  display: flex;
 flex-direction: row;
 justify-content:space-between; 
}

.inline {
  display: inline-block;
}

.controls {
  display: block;
}