/* .btnGrp {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  margin: 0 auto;
} */

.hidden {
  position: relative;
}

.hidden:before {
  background: #ff0000;
  content: '';
  height: 100%;
  position: absolute;
  width: 5px;
  left: 50%;
  top: 0px;
}

.hidden:after {
  background: #ff0000;
  content: '';
  height: 5px;
  left: 0%;
  position: absolute;
  top: 50%;
  width: 100%;
}

/* 
@media screen and (max-width: 300px) {
  .btnGrp {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 520px) {
  .btnGrp {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(4);
  }
} */
