.btnGrp {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(5rem, 1fr));
  gap: .5rem;
}

.header {
  display: flex;
  justify-content: space-between;
}

.iconHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;
  color: #005d8b;
}
