.dblSlider {
  width: calc(100% - 4px);
  height: calc(56vw - 4px);
  /* max-width: 600px; */
  /* max-height: 338px; */
  margin: 0 auto 1rem auto;
  background-image: radial-gradient(#ca9ebb, #8b005d);
  border: 2px solid black;
  border-radius: 38px;
  position: relative;
  touch-action: none;
}

.dblSlider:before {
  background: #8b005d;
  content: "";
  height: 100%;
  position: absolute;
  width: 5px;
  left: 50%;
  top: 0px;
}
.dblSlider:after {
  background: #8b005d;
  content: "";
  height: 5px;
  left: 0%;
  position: absolute;
  top: 50%;
  width: 100%;
}