.card {
  overflow: hidden;
  height: 5rem;
}

.title {
  display: block;
  width: fit-content;
  margin: 0.5rem auto 0 4px;
  text-align: center;
  font-weight: bold;
  font-size: 1em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slider {
  width: 100%;
  margin: 0.5rem 1rem 8rem 1rem;
  height: 47px;
  -webkit-appearance: none;
  margin: 5px 0;
  width: 100%;
}

.slider:focus {
  outline: none;
}

.slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 27px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000;
  background: #8b005d;
  border-radius: 7px;
  border: 1px solid #000000;
}
.slider::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 39px;
  width: 41px;
  border-radius: 10px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
.slider:focus::-webkit-slider-runnable-track {
  background: #8b005d;
}
.slider::-moz-range-track {
  width: 100%;
  height: 27px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000;
  background: #8b005d;
  border-radius: 7px;
  border: 1px solid #000000;
}
.slider::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 39px;
  width: 41px;
  border-radius: 10px;
  background: #ffffff;
  cursor: pointer;
}
.slider::-ms-track {
  width: 100%;
  height: 27px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.slider::-ms-fill-lower {
  background: #8b005d;
  border: 1px solid #000000;
  border-radius: 14px;
  box-shadow: 1px 1px 1px #000000;
}
.slider::-ms-fill-upper {
  background: #8b005d;
  border: 1px solid #000000;
  border-radius: 14px;
  box-shadow: 1px 1px 1px #000000;
}

.slider::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 39px;
  width: 41px;
  border-radius: 10px;
  background: #ffffff;
  cursor: pointer;
}
.slider:focus::-ms-fill-lower {
  background: #8b005d;
}
.slider:focus::-ms-fill-upper {
  background: #8b005d;
}
