.app {
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #d5eeff;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  padding: 0.25rem;
}

.inline {
  display: inline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.125rem;
}
