.card {
  width: calc(100% - 2rem);
  /* max-width: 600px; */
  overflow: hidden;
  padding: 0.5rem;
  margin: 2rem 0.3rem;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  background-color: white;
}

@media screen and (min-width: 450px) {
  .card {
    margin: 2rem auto;
  }
}
